body {
  background-color: #e8e8e8;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: black;
  font-weight: 550;
}

.custom-dropdown {
  position: relative;
  margin-bottom: 20px auto;
  max-width: 100%;
  padding: 20px;
  background-color: #2c2c2c;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  top: 0%;
  color: white;
}

.section-container {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.section-container h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

.section-container select,
.section-container button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  background-color: #444;
  color: #fff;
  cursor: pointer;
  box-shadow: none;
  border: none;
  appearance: none;
}

.section-container select:focus,
.section-container button:focus {
  outline: none;
}

#character-details {
  margin-top: 20px;
  text-align: center;
}

#character-details h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

#character-details button {
  border: none;
  background-color: #f00000;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: small;
  margin: -5%;
  margin-top: 8%;
}



#character-details button:hover {
  background-color: #650000;
}

#character-details ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

#character-details ul li {
  margin-bottom: 1%;
  text-align: center;
  font-size: larger;
}

.container12 {
  position: absolute;
  top: 5%;
  right: 2%;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #4c4c4c;
  margin: 6px 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.container12 .bar1.change {
  transform: translateY(8px) rotate(-45deg);
}

.container12 .bar2.change {
  opacity: 0;
}

.container12 .bar3.change {
  transform: translateY(-13px) rotate(45deg);
}

.menu {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #cdcdcd; 
  padding: 20px;
  border: 1px solid #ffffff;
  z-index: 2;
  border-radius: 15px;
  width: 100%;
  max-height: 50%;
  overflow-y: auto;
  padding-top: 0;
}

.menu::-webkit-scrollbar {
  display: none; 
}


.menu ul {
  list-style: none;
  padding: 0;
  text-align: center;
  
}

.menu ul li {
  margin-bottom: 10px;
  
}

.menu ul li a {
  text-decoration: none;
  color: #ddd;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s ease;
}

.menu ul li a:hover {
  color: #ffffff;
}

.menu.active {
  display: block;
}

.tabs {
  position: sticky;
  top: -1%;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1000; 
  background-color: #2c2c2c;
  border-bottom-left-radius: 10px ;
  border-bottom-right-radius: 10px;
 padding-top: 1%;
 padding-bottom: 2%;
}

.tab {
  background: #000000;
  border-radius: 999px;
  box-shadow: #000000 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  margin-bottom: 2%;
  break-inside: avoid; 
  margin-right: 1%;
}

.tab:hover {
  background: linear-gradient(to bottom, #222, #111);
  color: #ffffff;
}

.tab.active {
  background: #ff1010;
  border-radius: 999px;
  box-shadow: #f81818 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
  margin-bottom: 2%;
  break-inside: avoid; 
}

.content {
  margin-top: 20%;
  font-size: 18px;
  margin-bottom: 5%;
  overflow-y: auto;
  color: #ddd;
}

@media only screen and (max-width: 427px) {
  .menu {
    padding: 20px;
    width: 100%;
    max-height: 50%;
  }

  #character-details button {
    border: none;
    background-color: #f00000;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: small;
   position: absolute;
   top: 18%;
    padding: 1%;
   right: 6.75%;
  }
  
}

#actionsInDepth.active {
  background-color: white;
  border: 2px solid #ff1010;
  color: #ff1010;
}

#actionsInDepth {
  background: #ff1010;
  border-radius: 999px;
  box-shadow: #f81818 0 5px 10px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%; 
  height: 40px;
  word-break: break-word;
  border: 0;
  margin-bottom: 5%;
  break-inside: avoid; 
}





.info {
  padding: 0 20px;
  display: none;
  overflow: hidden;
  background-color: #444;
  border-radius: 15px;
  color: #ffffff;
}

#content1 {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

p {
  color: #ddd;
}

.character-actions {
  position: fixed;
  top: 30px;
  right: 30px;
}

button  {
  background: #ce5df0;
  border-radius: 999px;
  box-shadow: #ce5df0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 6px 14px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}


button i {
  margin-right: 8px;
}

#GG {
  position: absolute;
  top: 0%;
  left: 0%;
  opacity: 0;
}

.columns {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.column {
  width: 100%;
  margin-bottom: 20px;
}

ul li {
  font-size: 18px;
  line-height: 1.6;
}

#spellSLOTS {
  background-color: #dddddd00;
  border: none;
  color: rgb(0, 0, 0);
  font-size: larger;
  font-weight: 550;
}

#newAction {
  font-size: larger;
  bottom: 15%;
  position: fixed;
}

#addedAction {
  position: absolute;
  bottom: 20%;
  left: 36%;
}

#addedActions {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 90%;
  max-width: 600px;
  overflow-y: auto;
  max-height: 150px;
}

#addedActions::-webkit-scrollbar {
  width: 0;
  height: 0;
}

#HEALTH{
  background-color: #dddddd00;
  border: none;
  width: 30px;
  font-weight: 550;
  font-size: large;
}
#HEALTH::placeholder{
  color: #000000;
  font-size: large;
  font-weight: 550;
  
}

#WEAPONS::placeholder{
  color: #000000;
  font-size: large;
  font-weight: 550;
  width: 750px;
}
#WEAPONS{
  background-color: #dddddd00;
  border: none;
  width: 100px;
  font-weight: 550;
  font-size: large;
}

#toggle{
  background-color: rgba(255, 0, 0, 0);
  box-shadow: none;
  right: .1%;
  position: absolute;
  border-radius: 100px;
  padding: 0%;
  top: 70%;
  margin-top: 5px;
}

@media only screen and (min-width: 426px) {

#toggle{
  position: absolute;
  top: 56%;
}
}

#content2{
color: #000000;
margin-top: 15%;
letter-spacing: .5px;
}

h5{
  font-weight: bolder;
  font-size: larger;
}

#selectAction{
border: none;
background-color: #00000000;
font-size: medium;
font-weight: bold;
color: #000000;
}

.menuButtons{
  
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
  justify-content: center; 
}
