body {
  background-color: #1f1f1f;
  color: #ffffff;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  background-image: url('pexels-andy-atkins-2609226.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  
}






header {
  background-color: #6e1d1d;
  padding: .5%;
  text-align: center;
  color: rgb(255, 255, 255);
}

.custom-dropdown {
  
  position: relative;
  margin: 20px auto;
  max-width: 600px;
  padding: 20px;
  background-color: #2c2c2c;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-top: 0%;
}

.section-container {
  display: flex;
  justify-content: center; 
  gap: 15px; 
}

.section-container h2 {
  font-size: 20px;
  margin-bottom: 5px;
}

.section-container select,
.section-container button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  background-color: #444;
  color: #fff;
  cursor: pointer;
  box-shadow: none;
  border: none;
  appearance: none;
}
.section-container select:focus,
.section-container button:focus {
  outline: none;
}

#character-details {
  margin-top: 20px;
  text-align: center;
}

#character-details h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

#character-details button {
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  background-color: #6e1d1d;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: larger;
  margin-bottom: -5%;
}

#character-details button:hover {
  background-color: #8a2626;
}

#character-details ul {
  list-style: none;
  padding: 0;
  text-align: left;
}

#character-details ul li {
  margin-bottom: 1%;
  text-align: center;
  font-size: larger;
}



.container12 {
  position: absolute;
  top: 5%;
  right: 2%; 
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #6d6d6d;
  margin: 6px 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.container12 .bar1.change {
  transform: translateY(8px) rotate(-45deg); /* Adjusted translateY value */
}

.container12 .bar2.change {
  opacity: 0;
}

.container12 .bar3.change {
  transform: translateY(-13px) rotate(45deg); /* Adjusted translateY value */
}


.menu {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #bababa;
  padding-left: 25px;
  padding-right: 25px;
  border: 1px solid #ccc;
  z-index: 2;
  border-radius: 10px;
  width: 80%;
  max-height: 55%; 
  overflow-y: auto; 
}
.menu::-webkit-scrollbar{
  display: none;
}


.menu ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.menu ul li {
  margin-bottom: 10px;
}

.menu ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  font-size: 18px;
}

/* Show the menu when active */
.menu.active {
  display: block;
}



/* Style for rounded tabs */
.tabs {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.tab {
  padding: 2.5%;
  border: none;
  cursor: pointer;
  background-color: transparent;
  border-radius: 10px;
  font-size:medium;
  font-weight: bold;
  color: black;
}

.tab:hover{
  color: #911414;
  background-color: #6b6b6b;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.tab.active {
  background-color: #911414; /* Background color for the active tab */
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.content {


  margin-top: 15%;
  font-size: large;
  margin-bottom: 1%;
  overflow-y: auto; 
 
}



@media only screen and (max-width: 410px) {
  

  .menu {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #bababa;
    padding-left: 25px;
    padding-right: 25px;
    border: 1px solid #ccc;
    z-index: 2;
    border-radius: 10px;
    width: 100%;
    max-height: 50%; 
    overflow-y: auto; 
    
  }

}

#actionsInDepth{
background-color: #911414;
color: #fff;
border: none;
border-radius: 10px;
padding: 1.5%;
margin-top: 5px;
cursor: pointer;
text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
letter-spacing: .5px;
font-weight: bold;
}

#actionsInDepth:hover{
background-color: #4a1414;

}

#actionsInDepth:active{
background-color: rgb(176, 34, 34);
}

.info {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  border-radius: 10px;
  color: black;
}

#content1{
  font-size: large;
  font-weight: bolder;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

p{
  color: rgb(0, 0, 0);
  text-shadow: none;
}



.character-actions {
  position: fixed;
  top: 20px;
  right: 20px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
  background-color: #911414;
  color: white;
}

button i {
  margin-right: 5px;
}

#GG{
  position: absolute;
  top: 0%;
  left: 0%;
  opacity: 0;
}

